*{
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 11px;
}

/* -- RESET --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* LISTE */

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eeeeee;
  font-size: 11pt;
  font-weight:300;
}

#list{

	width: 100%;
	max-width: 1024px;
	height: 360px;
	background-color: white;
	margin-left: auto;
    margin-right: auto;
}

.accordion {
	position: relative;
	background-color:#fff;
	margin-top: 0px;
}
.accordion h3 {
  background-color: #fff;
  color:#000;

  padding:5px 10px;
  border-left: 3px solid #fff;
}
.accordion h3:hover {
  background-color: #fff;
  color:#000;
  cursor: pointer;
  padding:5px 10px;
  border-left: 3px solid #d9d9d9;
}
.accordion h3.current {
  background-color: #fff;
  color:#000;
  border-left: 3px solid #ffc200;
}
.accordion div.pane {
  padding:5px 10px;
  background-color:#fff;
  border-left: 3px solid #ffc200;
  color:#898989;
}

#s_acc{
	width: calc(85% - 10px);
	height: 80%;
	vertical-align:middle;
	top:10%;
	position: relative;
	float: left;
	border-left: 1px solid #d9d9d9;
	overflow-y: auto;	
}

#sortdiv{
	margin: 0;
	width: calc(15% - 60px);
	height: 100%;
	padding: 30px;
	position: relative;
	float: left;
}

#year{
	margin-left: auto;
    margin-right: auto;
	width: 75px;
	height: 30px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	border-right: 5px solid #d9d9d9;
	background-color: #333333;
	color: white;
	margin-bottom: 2px;
	
}

#type{
	margin-left: auto;
    margin-right: auto;
	width: 75px;
	height: 30px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	border-right: 5px solid #d9d9d9;
	background-color: #333333;
	color: white;
	margin-bottom: 2px;
	
}

#year:hover{
	margin-left: auto;
    margin-right: auto;
	width: 75px;
	height: 30px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	border-right: 5px solid #ffc200;
	background-color: #333333;
	color: white;
	margin-bottom: 2px;
	cursor: pointer;
}
#type:hover{
	margin-left: auto;
    margin-right: auto;
	width: 75px;
	height: 30px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	border-right: 5px solid #ffc200;
	background-color: #333333;
	color: white;
	margin-bottom: 2px;
	cursor: pointer;
}
h1{
	margin-top: 20px;
	font-size:13pt;
	margin-left: 7px;
	font-weight: bold;
}
a{
	text-decoration:none;
	color: #898989;
}
.download{
	fill: #898989;
}
.download:hover{
	fill: #333333;
}